* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  background-image: url("./139428.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#drum-machine {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px 80px 80px 80px;
  grid-template-areas:
    "display display display"
    "Q W E"
    "A S D"
    "Z X C";
  align-items: stretch;
  justify-content: stretch;
  gap: 10px;
}

#display {
  color: white;
  font-weight: bold;
  opacity: 0.8;
  grid-area: display;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  border: none;
  opacity: 0.6;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 24px;
}

button:hover {
  box-shadow: 3px 3px 3px 1px rgb(255, 255, 255, 0.6);
  cursor: pointer;
}

#Q,
#W,
#E {
  background-color: #0099f6;
}
#A,
#S,
#D {
  background-color: #d6a444;
}
#Z,
#X,
#C {
  background-color: #a71313;
}
